<h1> Task List Form</h1>
<%= form_for @task do  |f| %>
<%= f.label :task_name %>
<%= f.text_field :task_name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :is_complete %>
<%=f.check_box :is_complete%>
<%= f.label :complete_date %>
<%=f.date_select(:complete_date, order: [:day, :month, :year],
:include_blank => true, :default => nil)   %>
<%= f.submit%>
<% end %>
