<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Task for the Day</title>
</head>
<header>
  <h1>Shari  specific Tasks</h1>
</header>
<body>
  <nav id="nav">
    <div id="page_nav">
      <%= link_to "Log in with Github!", "/auth/github" %>
      <%=link_to "Take Me Home!", tasks_path%>
      <%= link_to "Edit Me!", edit_task_path%>
      <%= link_to "Destroy ME!", task_path, method: :delete,
      data: {confirm: "Are you sure?"}%>
      <%= link_to "Sign Out", logout_path, method: :delete %>
    </div>
  </nav>
  <main>
    <h3> <%="#{@task.task_name}"%> </h3>
    <p>
      <strong> A Brief Description:</strong>  <%="#{@task.description}" %>
    </p>
    <p>
      <strong> Complete Status:</strong>
      <% if @task.is_complete == true %>
      <% valid = "Complete"  %>
      <%= "#{valid}"%>
      <%else%>
      <% invalid = "Incomplete"  %>
      <%= "#{invalid}"%>
      <%end%>
    </p>
    <p>
      <%if @task.complete_date != nil%>
      <strong> Complete Date</strong>
      <%= "#{@task.complete_date}"%>
      <%end%>
    </p>
    <p>
      <%= link_to "Complete This Task", task_complete_path, method: :patch%>
    </p>
  </main>
</body>
</html>
